@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
}

.overallTop{
  background-color: #14161a;
  color: #fff;
  min-height: 100vh;
}

.typoTracker{
  flex: 1;
  color: gold;
  font-family: Monterrat;
  font-weight: bold;
  cursor: pointer;
}

.bannerImg{
  background-image: url("../public/Moonlight.jpeg");
  background-size: cover;
}

.bannerContainer{
  height: 400;
  display: flex;
  flex-direction: column;
  padding-top: 25;
  justify-content: space-around;
}

.tagLine{
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.theWheel{
  height: 50%;
  display: flex;
  align-items: center;
}

.itemsLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}