@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
}

.overallTop{
  background-color: #14161a;
  color: #fff;
  min-height: 100vh;
}

.typoTracker{
  flex: 1;
  color: gold;
  font-family: Monterrat;
  font-weight: bold;
  cursor: pointer;
}

.bannerImg{
  background-image: url("../public/coolcat.webp");
  background-size: cover;
}

.bannerContainer{
  height: 400;
  display: flex;
  flex-direction: column;
  padding-top: 25;
  justify-content: space-around;
}

.tagLine{
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.theWheel{
  height: 50%;
  display: flex;
  align-items: center;
}

.itemsLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}

.profitRow{
  background-color: #16171a;
  cursor: pointer;
  font-family: Montserrat;
}

.profitRow:hover{
  background-color: #131111;
}
.pagiNation button{
  color: gold;
}

.coinContainer{
  display: flex;
}

@media only screen and (max-width: 768px) {
  .coinContainer {
    flex-direction: column;
    align-items: center;
  }
}

.sideBar{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25;
  border-right: 2px solid grey;
}

@media only screen and (max-width: 768px){
  .sideBar {
    width: 100%;
  }
}
.coinHeader{
  font-weight: bold;
  margin-bottom: 20;
  font-family: Montserrat;
}

.coinDescription{
  width: 100%;
  font-family: Montserrat;
  padding: 25;
  padding-bottom: 15;
  padding-top: 0;
  text-align: center;
}

.marketData{
  align-self: flex-start;
  padding: 25;
  padding-top: 10;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .marketData {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .marketData {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 0px) {
  .marketData {
    align-items: flex-start;
  }
}